
RAN/src/otherdetails/OwnerDetailsParser.java
RAN/target/classes/Exp.class
RAN/target/classes/otherdetails/HospitalDetailsParser.class
RAN/target/classes/otherdetails/OwnerDetailsParser.class
RAN/target/classes/Pdf.class
RAN/target/classes/Sample.class
empty/.idea/workspace.xml
